---
import { Button } from "@/components/ui/button";
import { Input } from "@/components/ui/input";
import { Label } from "@/components/ui/label";

import { Image } from "astro:assets";
import imgPlaceholder from "@/assets/auth-placeholder.svg";
---

<div class="w-full lg:grid lg:min-h-screen lg:grid-cols-2">
    <div class="flex items-center justify-center py-12">
        <div class="mx-auto grid w-[350px] gap-6">
            <div class="grid gap-2 text-center">
                <h1 class="text-3xl font-bold">Sign Up</h1>
                <p class="text-balance text-muted-foreground">
                    Create a new account by entering your information below.
                </p>
            </div>
            <div class="grid gap-4">
                <div class="grid gap-2">
                    <Label htmlFor="email">Name</Label>
                    <Input
                        id="name"
                        type="text"
                        placeholder="John Doe"
                        required
                    />
                </div>
                <div class="grid gap-2">
                    <Label htmlFor="email">Email</Label>
                    <Input
                        id="email"
                        type="email"
                        placeholder="m@example.com"
                        required
                    />
                </div>

                <Button type="submit" className="w-full"> Sign up </Button>
                <Button variant="outline" className="w-full">
                    Sign up with Google
                </Button>
            </div>
            <div class="mt-4 text-center text-sm">
                Already have an account?
                <a href="/auth/signin" class="underline"> Sign in </a>
            </div>
        </div>
    </div>
    <div class="hidden bg-muted lg:block">
        <Image
            src={imgPlaceholder}
            alt="Image"
            width="1920"
            height="1080"
            class="h-full w-full object-cover dark:brightness-[0.2] dark:grayscale"
        />
    </div>
</div>
