---
import Link from "@/components/Link.astro";
---

<footer
    class="flex flex-col gap-2 sm:flex-row py-6 w-full shrink-0 items-center px-4 md:px-6 border-t"
>
    <p class="text-xs text-muted-foreground">
        &copy; 2024 Acme SaaS. All rights reserved. | Made with ❤️ by <Link
            href="https://elias.mamalias.me"
            class="underline text-black font-bold">Emamalias</Link
        >
    </p>
    <nav class="sm:ml-auto flex gap-4 sm:gap-6">
        <Link href="/" class="text-xs hover:underline underline-offset-4">
            Terms of Service
        </Link>
        <Link href="/" class="text-xs hover:underline underline-offset-4">
            Privacy
        </Link>
    </nav>
</footer>
