---
import Logo from "@/components/v1/icons/logo.astro";
import Link from "@/components/Link.astro";
---

<header class="px-4 lg:px-6 h-14 flex items-center">
    <Link href="/" class="flex items-center justify-center">
        <Logo class="h-6 w-6" />
        <span class="sr-only">Acme SaaS</span>
    </Link>
    <nav class="ml-auto flex gap-4 sm:gap-6">
        <Link
            href="/auth/signup"
            class="text-sm font-medium hover:underline underline-offset-4"
        >
            Auth Page
        </Link>
        <Link
            href="https://emamalias.github.io/astro-landing-starter"
            class="text-sm font-medium hover:underline underline-offset-4"
        >
            Github
        </Link>
    </nav>
</header>
